[include shell_command.cfg]
# This file contains common pin mappings for MKS Robin Nano V3
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "USB for communication".

# The "make flash" command does not work on the MKS Robin. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "Robin_nano_v3.bin" on an SD card and then restart the
# MKS Robin with that SD card.

# See docs/Config_Reference.md for a description of parameters.


# **********************************************************************************
# Definición de la Impresora
# **********************************************************************************

#[printer]
#kinematics: cartesian
#max_velocity: 600 #500 #185 # 300 #400 #500 #400 # 300 #20230729 # 20240307
#max_accel: 3000 # 1500 # 3000 # 2400 # 1800 # 1500 #1750 #1500 # 1250 # 20231103
# max_accel_to_decel: 2000 # 20231103 # 20240314 Obsoleto debe desaparecer
#max_z_velocity: 20 #20 # 20 # 12 # 20231110
#max_z_accel: 200 #200 # 200 # 20231110
#square_corner_velocity: 4.5 #5.0
#max_velocity: 1000
#max_accel: 1000

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 2500 #4000
max_z_velocity: 10
max_z_accel: 200
square_corner_velocity: 5

# **********************************************************************************
# Mainsail y Fluidd
# **********************************************************************************

[include mainsail.cfg]

[virtual_sdcard]
path: /home/joaquin/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# **********************************************************************************
# Macros, including folders, Cualquier fichero que haya dentro de esas carpetas, queda incluido
# **********************************************************************************

[include ./macros/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de macros

#[include adxl.cfg] # Comment this out when you disconnect the accelerometer

[include ./leds/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de leds

#[include KAMP_Settings.cfg] #KAMP
# **********************************************************************************
# Ajustes diversos, aunque necesarios
# **********************************************************************************

[exclude_object]

[print_stats]

[pause_resume]
recover_velocity: 50.0

[display_status]

[gcode_arcs]
resolution: 0.1

[input_shaper]
#shaper_type_y = 2hump_ei
#shaper_freq_y = 47.2
#shaper_type_x = mzv
#shaper_freq_x = 44.4

# **********************************************************************************
# Bltouch
# **********************************************************************************

#[bltouch]
#sensor_pin: ^PC8 # this is unique to your mainboard
#control_pin: PA8  #this is unique to your mainboard
#probe_with_touch_mode: false               # Activar para BL-Touch v3.0 ORIGINAL #nuevo
#stow_on_each_sample: true #nuevo
#pin_up_touch_mode_reports_triggered: false #nuevo
##pin_up_reports_not_triggered: True #nuevo
#x_offset: -43 #-52 # 37         #this needs to be calibrated
#y_offset: -2 #-10 # 9
#samples: 2
#speed: 3 #2
#sample_retract_dist: 5 #nuevo
#samples_tolerance: 0.03 #nuevo
#samples_tolerance_retries: 5 #nuevo
#samples_result: average #median #nuevo
#z_offset = 2.297#1.799
#z_offset: 1.947 #3.300

# **********************************************************************************
# MicroProbe
# **********************************************************************************

#[gcode_macro Probe_Deploy]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=1

#[gcode_macro Probe_Stow]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=0

#[output_pin probe_enable]
#pin: PA8         # Change this to the Servo/control pin number for your board.
#value: 0

#[probe]
#pin: ^!PC8         # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
#deactivate_on_each_sample: False
#x_offset: -40.2                    # Change the probe offsets to meet your machine requirements.
#y_offset: 0
##z_offset: 1.460
#speed: 5.0
#samples: 2
##sample_retract_dist: 2.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#activate_gcode:
#    Probe_Deploy
#    G4 P500
#      # allow time for probe to deploy before homing Z
#deactivate_gcode:
#    Probe_Stow

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_50445059389EE61C-if00
restart_method: command
is_non_critical: True

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -42 # INSERT VALUE FOR YOUR PROBE POSITION
y_offset: 0 # INSERT VALUE FOR YOUR PROBE POSITION 

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[safe_z_home]
home_xy_position: 150,117.50 #78,108.50 #115,117.50 #this should be the center of your bed
speed: 50 
z_hop: 10
z_hop_speed: 15.0 #5

[bed_mesh]
speed: 200 #80
horizontal_move_z: 2
mesh_min: 10, 10 #10, 10       #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 209,205 #242,197 #214, 204 #220, 209 #230, 219  #needs to be calibrated for your individual printer
probe_count: 10, 10 #5,5 #this is the number of probing points on X then Y axis
algorithm: bicubic #estaba activado
#mesh_pps: 2,2  #estaba activado
#fade_start: 0.0  #estaba activado
#fade_end: 10  #estaba activado
#fade_target: 0 #estaba activado

# **********************************************************************************

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 39.92 #39.96 
endstop_pin: !PA15
position_endstop: -3 #-17#0
position_max: 252 #214 #241
position_min: -3 #-6 #-4 #-3 
homing_speed: 50

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 39.78 #39.81 
endstop_pin: !PD2
position_endstop: -29 #-24 #-18#0
position_max: 207 #211 #204 #211 
position_min: -29 #-29 #-27 
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.5
position_max: 230 #250 #200
position_min: -2.0 #-6.0

[stepper_z1]
step_pin: PD15
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
rotation_distance: 8
#endstop_pin: !PC8
#position_endstop: 0.5
#position_max: 200

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
#microsteps: 16
#rotation_distance: 7.712#33.500
#nozzle_diameter: 0.400
#filament_diameter: 1.750
microsteps:16
rotation_distance: 5.780 #5.7 ##rotation_distance: 23.967
#gear_ratio: 50:17
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
#sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
max_extrude_cross_section: 5
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 275
max_extrude_only_distance: 500


[tmc2208 stepper_x]
uart_pin: PD5
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2208 stepper_y]
uart_pin: PD7
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2208 stepper_z]
uart_pin: PD4
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2208 stepper_z1]
uart_pin: PD9
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2208 extruder]
uart_pin: PD8
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999



[heater_fan my_nozzle_fan]
pin: PB1
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[extruder1]
#step_pin: PD15
#dir_pin: !PA1
#enable_pin: !PA3
#heater_pin: PB0
#sensor_pin: PA2
#...

[heater_bed]
heater_pin: PA0
#sensor_type: EPCOS 100K B57560G104F
sensor_type: Generic 3950 # Sensor de temperatura de la cama caliente, NTC 100K, beta 3950, estandar
sensor_pin: PC0
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10
min_temp: 0
max_temp: 130

[fan]
pin: PB0   # fan1
#pin: PB0   # fan2

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_000000000000000000000000-if00
serial: /dev/ttyS5 #/dev/ph-uart5
#serial: /dev/ttyAMA0
restart_method: command

[screws_tilt_adjust]
screw1: 45,207 #-6,190.50
screw1_name: rear left screw
screw2: 45,3 #-6,19.50
screw2_name: front left screw
screw3: 251,3 #164,19.50
screw3_name: front right screw
screw4: 251,207 #164,190.50
screw4_name: rear right screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[bed_screws]
screw1: 3,207 #-6,190.50
screw1_name: rear left screw
screw2: 210,1 #164,19.50
screw2_name: front right screw
screw3: 3,1 #-6,19.50
screw3_name: front left screw
screw4: 210,207 #164,190.50
screw4_name: rear right screw

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    100, 100, 20  # an example

[output_pin BEEPER_Pin]
pin: PC6 #rpi:gpio17 # for Raspberry Pi
pwm: True

#[output_pin BEEPER_pin]
#pin: PC6
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 1
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[skew_correction]

#[z_tilt]
#z_positions:
#    0, 117
#    250, 117
#points:
#    45, 117
#    245, 117
#speed: 120
#horizontal_move_z: 5

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

# See the MKS Lcd Config path file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 49.704
#*# pid_ki = 4.602
#*# pid_kd = 134.202
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.507
#*# pid_ki = 2.044
#*# pid_kd = 608.121
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.325509, 0.159171, 0.050281, -0.003593, -0.083740
#*# 	0.258917, 0.097925, 0.000588, -0.095955, -0.185648
#*# 	0.250758, 0.108454, -0.001200, -0.031991, -0.168728
#*# 	0.128504, -0.013227, -0.099715, -0.140639, -0.242702
#*# 	-0.197800, -0.423857, -0.548650, -0.577390, -0.582156
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 209.0
#*# min_y = 10.0
#*# max_y = 205.0
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 45.4
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 39.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUH6oD8epCfQ/xNA+qKbb+z8nrFSPcczoP3uKSqM0PtY/YL60mzet0j9T8S7b9uXgPz1nTHN7ynI/j4Rsl2Sr2r/yHHXUt/HFP9bwLDXew9I/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQTE4VgOmolD5c1jXD3yOVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQA1H95wt9GkAJDsiuAxwJQAHT0x1ZePw/akyD0Fut+z8eYRZPg4DeP/YcVOjqXALARcxdDhWQ3j+Puq2shTgRQIiGykzmGeA/7jLs21W7+L+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEEkPbP9rIJU+kTlRRIQ3lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CQ2KV0DweVPqiDQQxu4ic+RJAR+H+RHL7z+aM8XjoIPsNMFU38Bum92XZxywYs8T0fFF1JK9rvvfPb7riWYua9rqyo0aZj5z3RKiG6nUukPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAEw+q8/xAT8Acae6RO4TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/AfHPqz5MAEdALf//+7ztpWWMB2ZfcmFuZ2WUXZQoR0FIIbpW+1AAR0FIyEwqblgAZYwCZGOUSw91Lg==
#*# tap_adjust_z = 0.045
